@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');

:root {
    --text-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 
    border: 1px solid black; */
}

body {
    /* height: 100vh; */
    font-family: 'Cabin', sans-serif;

}

.app {
    overflow: hidden;
}

.container {
    width: 100%;
    text-align: center;
    position: relative;
}

.header {
    width: 100%;
    height: 50px;
    position: fixed;
    text-align: center;
    top: 0;
    background-color: #fff;
    z-index: 100;
}

.header__right {
    color: #adadadad;
    display: flex;
    width: 120px;
    font-size: 20px;
    justify-content: space-between;
    position: absolute;
    right: 35px;
    top: 10px;
}

.header__right div {
    cursor: pointer;
}

.header__right div:hover {
    color: var(--text-color);
}

.header a {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
    color: var(--text-color);
}

.menu {
    width: 100%;
    position: fixed;
    top: 50px;
    background-color: #fff;
    padding-bottom: 10px;
    z-index: 100;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .15);
}

.nav__list {
    width: 100%;
    height: auto;
    display: flex;
    color: var(--text-color);
    justify-content: center;
}

.nav__list li {
    list-style-type: none;
    margin: 0 40px;
}

.nav__list a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    font-weight: 600;

}

.nav__list a span {
    text-transform: uppercase;
}

.nav__list a span:hover {
    border-bottom: 3px solid orangered;
}

.nav__list li:hover .menu__sub {
    display: block;
}

.nav__list a:hover {

    color: orangered;
}

.menu__sub {
    width: 100%;
    top: 25px;
    position: absolute;
    border-top: 1px solid #f0f0f0;
    left: 0;
    height: auto;
    background: #fff;
    text-align: center;
    display: none;
}


.menu__sub ul {
    text-align: left;
    width: 50%;
    display: inline-block;
    margin: 10px 2% 20px
}

.menu__sub ul li {
    display: inline-block;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    width: 32%;
}

img {
    width: 100%;
    height: auto;
}

.carousel__container {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.slick-slide {
    display: none;
}

.slider__control {
    font-size: 55px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.slider__prev {
    position: absolute;
    left: 25px;
    top: 50%;
}

.slider__next {
    position: absolute;
    right: 25px;
    top: 50%;
}

.slider__next:hover,
.slider__prev:hover {
    color: #333;
}
.wrap__product {
    width: 100%;
    font-size: 13px;
    font-weight: bold;

}

.product img {
    cursor: pointer;
}


.product__name {
    padding: 10px;
    color: var(--text-color);
}

.price{
    position: relative;
    flex-direction: column;
    display: flex;
    width: 100%;
    height: 20px;
}

.product__price {
  
    color: grey;
}
.product__const {
   
    opacity: 0.6;
    text-decoration: line-through;
    color: grey;
}

.load__product {
    width: 100%;
    display: flex;
    justify-content: center;

}

.see-more {
    width: 120px;
    height: 40px;
    margin: 30px 0 50px 0;
    background: var(--text-color);
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.see-more:hover {
    color: rgba(16, 114, 116, 0.667);
}

footer {
    width: 100%;
    height: auto;
    background: #333;
    color: #fff;
    margin-top: 50px;
    z-index: 1;
    text-align: left;
}

.footer__list li {
    list-style-type: none;
}

.footer__list li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer__heading {
    color: #fff;
    margin-top: 20px;
    margin-left: 30%;
    font-size: 1.4rem;
}

.footer__list {
    margin-left: 30%;
    color: #b0b0b0;
}

.footer__bottom {
    padding: 8px 0;
    margin-top: 36px;
}

.footer__text {
    color: #fff;
    text-align: center;
}

.status li {
    list-style-type: none;
}

.searchPro {
    z-index: 99;
    position: fixed;
    width: 350px;
    height: 100%;
    top: 0;
    right: 0;
    background: #fff;
}

.search-close {
    margin-top: 80px;
    padding: 10px 10px;
    width: 100%;
    text-align: right;
    font-size: 20px;
    cursor: pointer;
}

.search-close i:hover {
    color: orangered;
}

.search__form {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--text-color);
    display: flex;
}

.search__form input {
    color: var(--text-color);
    border: none;
    outline: none;
    font-size: 20px;
    width: 100%;
}

.search__form input::placeholder {
    color: var(--text-color);
}

.search__form i {
    padding: 8px;
}

.hide {
    display: none;
}

.cartPro {
    width: 450px;
    position: fixed;
    z-index: 101;
    background: #fff;
    height: auto;
    top: 50px;
    right: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    font-size: 14px;
    animation: hide_cart 0.25s linear forwards;
}

@keyframes show_cart {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes hide_cart {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }

    100% {
        transform: translateY(30px);
        opacity: 0;
    }
}

.cart__list {
    margin-top: 20px;
}

.cart__item {
    width: 100%;
    display: flex;
    height: 60px;
    margin-top: 10px;
    border-bottom: 1px solid #b0b0b0;
}

.cart__item img {
    width: 80px;
    height: auto;
}

.cart__item p {
    margin-top: 10px;
}

.modal {
    position: fixed;
    display: flex;
    animation: fadeIn linear 0.1s;
    width: 100%;
    top: 150px;
    justify-content: center;
    z-index: 1;
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}


.authorPro {

    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 2;
    animation: growth linear 0.1s;
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }

    to {
        transform: scale(var(--growth-to));
    }
}

.author-form {
    width: 380px;
    height: 480px;
    background: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;

}

.form-heading {
    font-size: 30px;
    color: #555;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #d5d5d5;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    position: relative;
}

#btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: 0.5s;
}

.input-group {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background-color: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 10px auto 0;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: none;
    border-radius: 30px;
    transition: 0.5s;
}

.submit-btn:hover {
    color: black;
    background: linear-gradient(to right, #fdb72b, #f53374);
    transform: scale(1.1);
}

.check-box {
    margin: 30px 10px 30px 0;
}

.form-check {
    display: flex;
    align-items: center;
}

.check-text {
    color: #777;
    font-size: 12px;
}

.check-text:hover {
    opacity: 0.7;
}

#login {
    left: 50px;
}

#Register {
    left: 400px;
    top: 90px;
    opacity: 0;
}

.slide__block {
    width: 100%;
}
.block{
    position: relative;
}
.block img{
    width: 100%;
    height: auto;
}
.desc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 30px;
    background-color: #555;
    color: #f0f0f0;
}
.desc a:hover{
    color: #999;
    text-shadow: 1px 2px  #f53374;
}
.nav__bar-mobile{
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.modal__overlay-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 101;
}
.nav__mobile{
     z-index: 101;
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     width: 280px;
     max-width: 100%;
     background: white;
     transition: transform linear 0.2s;
     overflow: scroll;
}
.nav__mobile-close{
    text-align: right;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}


.nav__mobile-search{
    width: 90%;
    overflow: hidden;
    display: flex;
    margin: 10px;
    border: 1px solid var(--text-color);
    height: 25px;
    border-radius: 4px;
}
.nav__mobile-search input{
    width: 100%;
    border: none;
    outline: none;
}
.nav__mobile-list-icon i{
    padding: 5px;
}
.nav__mobile-list{
    margin-top: 24px;
}
.nav__mobile-link{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 8px 25px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
    font-size: 14px;
    
}
.nav__mobile-link-list{
    text-align: left;
    padding: 0 40px;
}
.nav__mobile-link-list li{
    padding: 8px;
    list-style-type: none;
    border-bottom: 1px solid #f0f0f0;
    font-size: 10px;
}
.nav__mobile-link i{
    float: right;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: hsla(230,7%,75%,1);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}